<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <table>
        <thead>
            <th>Fatura Numarasi</th>
            <th>Fatura Tarihi</th>
        </thead>
        <tbody>
        {% for fatura in faturalar %}
        <tr>
            <td>{{ fatura.tarih }}</td>
            <td>{{ fatura.numara }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="button" onclick="OlusturFunction()">Olustur</button>

    <div id="olustur" style="display:block;">
        {% include "includes/_fatura_create_form.html" %}
    </div>
</body>
<script>
function OlusturFunction() {
  var x = document.getElementById("olustur");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
</html>
