<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <h2><a href="kategoriler">Kategoriler</a></h2>
    <table>
        <thead>
            <th>Kategori İsmi</th>
        </thead>
        <tbody>
        {% for kategori in kategoriler %}
        <tr>
            <td>{{ kategori.isim }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2><a href="markalar">Markalar</a></h2>
    <table>
        <thead>
            <th>Marka İsmi</th>
        </thead>
        <tbody>
        {% for marka in markalar %}
        <tr>
            <td>{{ marka.isim }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2><a href="faturalar">Faturalar</a></h2>
    <table>
        <thead>
            <th>Fatura Tarihi</th>
            <th>Fatura No</th>
        </thead>
        <tbody>
        {% for fatura in faturalar %}
        <tr>
            <td>{{ fatura.tarih }}</td>
            <td>{{ fatura.numara }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2><a href="urunler">Urunler</a></h2>
    <table>
        <thead>
            <th>Urun Kod</th>
            <th>Urun No</th>
            <th>Fatura No</th>
            <th>Urun Marka</th>
            <th>Urun Kategori</th>
            <th>Urun Ozellik</th>
            <th>Zimmet</th>
        </thead>
        <tbody>
        {% for urun in urunler %}
        <tr>
            <td>{{ urun.urun_kod }}</td>
            <td>{{ urun.urun_no }}</td>
            <td>{{ urun.fatura }}</td>
            <td>{{ urun.marka }}</td>
            <td>{{ urun.kategori }}</td>
            <td>{{ urun.ozellik }}</td>
            <td>{{ urun.zimmet }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
