<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <table>
        <thead>
            <th>Kategori Ismi</th>
        </thead>
        <tbody>
        {% for kategori in kategoriler %}
        <tr>
            <td>{{ kategori.isim }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="button" onclick="OlusturFunction()">Olustur</button>

    <div id="olustur" style="display:block;">
        {% include "includes/_marka_kategori_create_forms.html" %}
    </div>

</body>
<script>
function OlusturFunction() {
  var x = document.getElementById("olustur");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
</html>
