<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <table>
        <thead>
            <th>Kategori Ismi</th>
        </thead>
        <tbody>
        {% for kategori in kategoriler %}
        <tr>
            <td>{{ kategori.isim }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
