<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <table>
        <thead>
            <th>Urun Kod</th>
            <th>Urun No</th>
            <th>Fatura No</th>
            <th>Urun Marka</th>
            <th>Urun Kategori</th>
            <th>Urun Ozellik</th>
            <th>Zimmet</th>
        </thead>
        <tbody>
        {% for urun in urunler %}
        <tr>
            <td>{{ urun.urun_kod }}</td>
            <td>{{ urun.urun_no }}</td>
            <td>{{ urun.fatura }}</td>
            <td>{{ urun.marka }}</td>
            <td>{{ urun.kategori }}</td>
            <td>{{ urun.ozellik }}</td>
            <td>{{ urun.zimmet }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="button" onclick="OlusturFunction()">Olustur</button>

    <div id="olustur" style="display:block;">
        {% include "includes/_urun_create_form.html" %}
    </div>
</body>
<script>
function OlusturFunction() {
  var x = document.getElementById("olustur");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
</html>
