{% extends "envanter_takip/base.html" %}
{% block head %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
{% endblock %}
{% block content_header %}Urunlar{% endblock %}
{% block current_page_link %}
<li class="breadcrumb-item active">Urunler</li>
{% endblock %}
{% block body %}
    <table>
        <thead>
            <th>Urun Kod</th>
            <th>Urun No</th>
            <th>Fatura No</th>
            <th>Urun Marka</th>
            <th>Urun Kategori</th>
            <th>Urun Ozellik</th>
            <th>Zimmet</th>
        </thead>
        <tbody>
        {% for urun in urunler %}
        <tr>
            <td>{{ urun.product_code }}</td>
            <td>{{ urun.product_number }}</td>
            <td>{{ urun.invoice }}</td>
            <td>{{ urun.brand }}</td>
            <td>{{ urun.category }}</td>
            <td>{{ urun.feature }}</td>
            <td>{{ urun.debit }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="button" onclick="create()">Olustur</button>

    <div id="create" style="display:block;">
        {% include "includes/_urun_create_form.html" %}
    </div>
{% endblock %}
{% block script %}
<script>
function create() {
  var x = document.getElementById("create");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
{% endblock %}
